<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
<nav>
  <p><a href="/items" class="nav-index-link"><span class="nav-index-text">My Shopping Pal</span></a></p>
</nav>