/*Index page styling*/

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-item-list {
    margin-top: -10px;
    border: solid 2px black;
    height: 50vh;
    width: 50vw;
}

.index-item {
    display: flex;
    flex-direction: row;
}

.index-add-form {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Show page styling*/
.item-image {
    width: 15vw;
}

.show-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-name-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Edit page styling*/
.edit-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}